body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide-team"],
[class*=" number-slide-team"] {
  background: #212529;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 400px;
  margin-bottom: 100px;
}
.number-slide-team img {
  display: block;
  width: 100%;
}
